body {
  background-color: lightgray;
  color: black;
}

a {
  text-decoration: none;
}

a:hover {
  font-weight: bold;
  color: blue;
}

fieldset {
  background-color: lightblue;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 20px;
  width: 300px;
  text-align: center;
}

legend {
  background-color: lightcoral;
  padding: 3px;
}

#text-box {
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
}

button {
  padding: 10px;
  border-radius: 5px;
}

button:hover {
  background-color: lightblue;
  font-weight: bold;
}
